# Introduction à Pandas


Nous avons vu que numpy était la bibliothéque de référence pour manipuler des tableaux multidimensionnelles (spécialement en calcul matriciel). 


Cependant en data science on a très souvent des labels associés aux données qu'on manipule ou bien dans le cas où on aimerait bien mettre des labels sur les tableaux qu'on manipule.

A cet égard, la bibliothéque Pandas a été développée.



 
Soit le tableau suivant contenant uniquement des données de type float

In [2]:
L = [12,13,16,11,16]
L

[12, 13, 16, 11, 16]

- Maintenant, on veut associer un label à chaque valeur c'est-à-dire par exemple, on veut associer un prénom à chaque entrée du tableau.

- En Pandas, on peut faire cette tâche en ajoutant un objet appelé index.

En Pandas, il existe deux types de structures de données:
- les series pour les données à une seule dimension.
- les DataFrame pour les données à deux dimensions.


Attention une grande partie de la complexité de Pandas vient de la maîtrise de la notion de l'index.

Un index est un objet très puissant possèdant deux caractéristiques majeures:
- il permet un accès optimisé des données dans un tableau

- il permet une notion d'alignement automatique pendant les opérations. Imaginons qu'on veut additionner entre deux dataframe, l'opération n'est possible que pour les éléments ayant le même label.

In [5]:
import pandas as pd
s = pd.Series([20,30,40,50],index=['eve','bill','liz','bob'])

In [6]:
s

eve     20
bill    30
liz     40
bob     50
dtype: int64

In [7]:
s.values

array([20, 30, 40, 50])

In [8]:
s.index

Index(['eve', 'bill', 'liz', 'bob'], dtype='object')

In [9]:
s.loc['eve']

20

In [11]:
s['eve'] # Attention à cette notation

20

In [12]:
s.loc['eve':'liz'] # liz est inclue

eve     20
bill    30
liz     40
dtype: int64

In [13]:
s = pd.Series([20,30,40,50],index=['eve','liz','bill','bob'])

In [14]:
s

eve     20
liz     30
bill    40
bob     50
dtype: int64

In [15]:
s.loc['eve':'liz']

eve    20
liz    30
dtype: int64

In [22]:
animaux = ["chien", 'chat', 'chat','chien', 'poisson']
proprio = ['eve', 'bob', 'eve', 'bill', 'liz']

In [23]:
s = pd.Series(animaux, index=proprio)

In [25]:
print(s)

eve       chien
bob        chat
eve        chat
bill      chien
liz     poisson
dtype: object

In [26]:
s.loc['eve':'liz'] # label dupliqué le slicing ne marche pas

KeyError: "Cannot get left slice bound for non-unique label: 'eve'"

In [27]:
# Solution
s = s.sort_index()

In [28]:
s

bill      chien
bob        chat
eve       chien
eve        chat
liz     poisson
dtype: object

In [29]:
s.loc['eve':'liz']

eve      chien
eve       chat
liz    poisson
dtype: object

In [32]:
s.iloc[0]
s.iloc[4]

'poisson'

In [31]:
s.iloc?

Type:        property
String form: <property object at 0x7fc86d2e62c8>
Docstring:
Purely integer-location based indexing for selection by position.

``.iloc[]`` is primarily integer position based (from ``0`` to
``length-1`` of the axis), but may also be used with a boolean
array.

Allowed inputs are:

- An integer, e.g. ``5``.
- A list or array of integers, e.g. ``[4, 3, 0]``.
- A slice object with ints, e.g. ``1:7``.
- A boolean array.
- A ``callable`` function with one argument (the calling Series, DataFrame
  or Panel) and that returns valid output for indexing (one of the above)

``.iloc`` will raise ``IndexError`` if a requested indexer is
out-of-bounds, except *slice* indexers which allow out-of-bounds
indexing (this conforms with python/numpy *slice* semantics).

See more at :ref:`Selection by Position <indexing.integer>`

In [33]:
s.iloc[1:3]

bob     chat
eve    chien
dtype: object

In [34]:
# Notion d'indexation avancée
s.loc[s=='chien']

bill    chien
eve     chien
dtype: object

In [39]:
s.loc[(s == 'chien') | (s=='poisson')]

bill      chien
eve       chien
liz     poisson
dtype: object

In [40]:
s.loc[(s=='chien') | (s=='poisson')]='autre'

In [41]:
s

bill    autre
bob      chat
eve     autre
eve      chat
liz     autre
dtype: object

In [56]:
# Notion d'alignement d'index
s1 = pd.Series([1,2,3], index=[list('abc')])
s2 = pd.Series([5,6,7], index=[list('acd')])

In [57]:
s1

a    1
b    2
c    3
dtype: int64

In [58]:
s2

a    5
c    6
d    7
dtype: int64

In [59]:
s1 + s2 # NaN not a number

a    6.0
b    NaN
c    9.0
d    NaN
dtype: float64

In [60]:
s1.add(s2, fill_value=50)

a     6.0
b    52.0
c     9.0
d    57.0
dtype: float64

## Notion de DataFrame

In [61]:
import numpy as np
import pandas as pd

In [85]:
prenoms = ['liz','bob','bill','eve']

In [86]:
age = pd.Series([25,30,35,40],index=prenoms)
taille = pd.Series([160,175,170,180],index=prenoms)
sexe = pd.Series(list('fhhf'),index=prenoms)
df = pd.DataFrame({'age': age, 'taille':taille, 'Sexe':sexe})

In [87]:
df

      age  taille Sexe
liz    25     160    f
bob    30     175    h
bill   35     170    h
eve    40     180    f

In [88]:
df.index

Index(['liz', 'bob', 'bill', 'eve'], dtype='object')

In [89]:
df.columns

Index(['age', 'taille', 'Sexe'], dtype='object')

In [92]:
tableau = df.values
tableau

array([[25, 160, 'f'],
       [30, 175, 'h'],
       [35, 170, 'h'],
       [40, 180, 'f']], dtype=object)

In [91]:
print(type(tableau))

<class 'numpy.ndarray'>

In [93]:
df.tail(2)

      age  taille Sexe
bill   35     170    h
eve    40     180    f

In [94]:
df.head()

      age  taille Sexe
liz    25     160    f
bob    30     175    h
bill   35     170    h
eve    40     180    f

In [96]:
df.describe()

             age      taille
count   4.000000    4.000000
mean   32.500000  171.250000
std     6.454972    8.539126
min    25.000000  160.000000
25%    28.750000  167.500000
50%    32.500000  172.500000
75%    36.250000  176.250000
max    40.000000  180.000000

In [97]:
df.loc?

Type:        property
String form: <property object at 0x7fc86d2e6368>
Docstring:
Access a group of rows and columns by label(s) or a boolean array.

``.loc[]`` is primarily label based, but may also be used with a
boolean array.

Allowed inputs are:

- A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
  interpreted as a *label* of the index, and **never** as an
  integer position along the index).
- A list or array of labels, e.g. ``['a', 'b', 'c']``.
- A slice object with labels, e.g. ``'a':'f'``.

  .. warning:: Note that contrary to usual python slices, **both** the
      start and the stop are included

- A boolean array of the same length as the axis being sliced,
  e.g. ``[True, False, True]``.
- A ``callable`` function with one argument (the calling Series, DataFrame
  or Panel) and that returns valid output for indexing (one of the above)

See more at :ref:`Selection by Label <indexing.label>`

See Also
--------
DataFrame.at : Access a single value for a row/column label pair
DataFrame.iloc : Access group of rows and columns by integer position(s)
DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
    Series/DataFrame.
Series.loc : Access group of values using labels

Examples
--------
**Getting values**

>>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
...      index=['cobra', 'viper', 'sidewinder'],
...      columns=['max_speed', 'shield'])
>>> df
            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

Single label. Note this returns the row as a Series.

>>> df.loc['viper']
max_speed    4
shield       5
Name: viper, dtype: int64

List of labels. Note using ``[[]]`` returns a DataFrame.

>>> df.loc[['viper', 'sidewinder']]
            max_speed  shield
viper               4       5
sidewinder          7       8

Single label for row and column

>>> df.loc['cobra', 'shield']
2

Slice with labels for row and single label for column. As mentioned
above, note that both the start and stop of the slice are included.

>>> df.loc['cobra':'viper', 'max_speed']
cobra    1
viper    4
Name: max_speed, dtype: int64

Boolean list with the same length as the row axis

>>> df.loc[[False, False, True]]
            max_speed  shield
sidewinder          7       8

Conditional that returns a boolean Series

>>> df.loc[df['shield'] > 6]
            max_speed  shield
sidewinder          7       8

Conditional that returns a boolean Series with column labels specified

>>> df.loc[df['shield'] > 6, ['max_speed']]
            max_speed
sidewinder          7

Callable that returns a boolean Series

>>> df.loc[lambda df: df['shield'] == 8]
            max_speed  shield
sidewinder          7       8

**Setting values**

Set value for all items matching the list of labels

>>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
>>> df
            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

Set value for an entire row

>>> df.loc['cobra'] = 10
>>> df
            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

Set value for an entire column

>>> df.loc[:, 'max_speed'] = 30
>>> df
            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

Set value for rows matching callable condition

>>> df.loc[df['shield'] > 35] = 0
>>> df
            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

**Getting values on a DataFrame with an index that has integer labels**

Another example using integers for the index

>>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
...      index=[7, 8, 9], columns=['max_speed', 'shield'])
>>> df
   max_speed  shield
7          1       2
8          4       5
9          7       8

Slice with integer labels for rows. As mentioned above, note that both
the start and stop of the slice are included.

>>> df.loc[7:9]
   max_speed  shield
7          1       2
8          4       5
9          7       8

**Getting values with a MultiIndex**

A number of examples using a DataFrame with a MultiIndex

>>> tuples = [
...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
...    ('viper', 'mark ii'), ('viper', 'mark iii')
... ]
>>> index = pd.MultiIndex.from_tuples(tuples)
>>> values = [[12, 2], [0, 4], [10, 20],
...         [1, 4], [7, 1], [16, 36]]
>>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
>>> df
                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

Single label. Note this returns a DataFrame with a single index.

>>> df.loc['cobra']
         max_speed  shield
mark i          12       2
mark ii          0       4

Single index tuple. Note this returns a Series.

>>> df.loc[('cobra', 'mark ii')]
max_speed    0
shield       4
Name: (cobra, mark ii), dtype: int64

Single label for row and column. Similar to passing in a tuple, this
returns a Series.

>>> df.loc['cobra', 'mark i']
max_speed    12
shield        2
Name: (cobra, mark i), dtype: int64

Single tuple. Note using ``[[]]`` returns a DataFrame.

>>> df.loc[[('cobra', 'mark ii')]]
               max_speed  shield
cobra mark ii          0       4

Single tuple for the index with a single label for the column

>>> df.loc[('cobra', 'mark i'), 'shield']
2

Slice from index tuple to single label

>>> df.loc[('cobra', 'mark i'):'viper']
                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

Slice from index tuple to index tuple

>>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                    max_speed  shield
cobra      mark i          12       2
           mark ii          0       4
sidewinder mark i          10      20
           mark ii          1       4
viper      mark ii          7       1

Raises
------
KeyError:
    when any items are not found

In [101]:
import numpy as np
import pandas as pd

In [102]:
df1 = pd.DataFrame(np.random.randint(1,10,size=(2,2)),columns=list('ab'),index=list('xy'))

In [103]:
df2 = pd.DataFrame(np.random.randint(1,10,size=(2,2)),columns=list('ab'),index=list('zt'))

In [106]:
df1

   a  b
x  6  5
y  4  4

In [107]:
df2

   a  b
z  4  3
t  2  8

In [108]:
pd.concat([df1,df2])

   a  b
x  6  5
y  4  4
z  4  3
t  2  8

64

In [116]:
df1 = pd.DataFrame(np.random.randint(1,10,size=(2,2)),columns=list('ab'),index=list('xy'))
df2 = pd.DataFrame(np.random.randint(1,10,size=(2,2)),columns=list('cd'),index=list('xy'))

In [121]:
pd.concat([df1,df2],axis=1)

   a  b  c  d
x  1  3  3  9
y  9  1  7  8

In [123]:
df1 = pd.DataFrame({'personnel':['Bob','Lisa','Sue'],'groupe':['SAF','R&D','RH']})
df1

  personnel groupe
0       Bob    SAF
1      Lisa    R&D
2       Sue     RH

In [127]:
df2 = pd.DataFrame({'personnel':['Lisa','Bob','Sue'],'date embauche':[2004,2008,2014]})
df2

  personnel  date embauche
0      Lisa           2004
1       Bob           2008
2       Sue           2014

In [129]:
print(df1)
df1

  personnel groupe
0       Bob    SAF
1      Lisa    R&D
2       Sue     RH

  personnel groupe
0       Bob    SAF
1      Lisa    R&D
2       Sue     RH

In [130]:
print(df2)

  personnel  date embauche
0      Lisa           2004
1       Bob           2008
2       Sue           2014

In [131]:
pd.merge(df1,df2)

  personnel groupe  date embauche
0       Bob    SAF           2008
1      Lisa    R&D           2004
2       Sue     RH           2014

In [132]:
import seaborn as sns

In [141]:
ti = sns.load_dataset('titanic').loc[:,['survived','sex','class']]

In [142]:
ti.shape

(891, 3)

In [145]:
ti.loc[:,'survived'].mean()

0.3838383838383838

In [146]:
ti.loc[ti.loc[:,'class']=='First','survived'].mean()

0.6296296296296297

In [167]:
ti.groupby('class').median() # principe supression nuisance colonne (n'a pas de sens)

        survived
class
First          1
Second         0
Third          0

In [163]:
g = ti.groupby(['class','sex']).mean()

In [164]:
g

               survived
class  sex
First  female  0.968085
       male    0.368852
Second female  0.921053
       male    0.157407
Third  female  0.500000
       male    0.135447

In [165]:
g.index

MultiIndex(levels=[['First', 'Second', 'Third'], ['female', 'male']],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]],
           names=['class', 'sex'])

In [169]:
ti.pivot_table("survived",aggfunc=np.mean,index='class',columns='sex')

sex       female      male
class
First   0.968085  0.368852
Second  0.921053  0.157407
Third   0.500000  0.135447

## Gestion des dates et des séries temporelles

encodage de l'ordre de nanosecondes

In [172]:
np.datetime64('2018-06-30 08:35:23', 'ns')

numpy.datetime64('2018-06-30T08:35:23.000000000')

In [174]:
np.datetime64('2018-06-30 08:35:23', 's') - np.datetime64('2018-06-30 06:35:23', 's')

numpy.timedelta64(7200,'s')

- On utilise plutot les types natifs
-

In [175]:
pd.to_datetime('10 june 1973 8h30')
pd.to_datetime()

TypeError: to_datetime() missing 1 required positional argument: 'arg'